/* base styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    background-color: #fff;
}

#footer {
    height: 2em;
    position: relative;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding: 0 0 60px;
}

#wrapper > .container {
    padding: 80px 15px 60px;
}

.jumbotron {
    font-size: 100%;
    text-align: center;
}

.alert {
    padding: 5px 35px 5px 15px;
}

.alert-processing {
    color: #464646;
    background-color: #f0f0f0;
    border-color: #eeeeee;
}

.alert-processing hr {
    border-top-color: #e6e6e6;
}

.alert-processing .alert-link {
    color: #959595;
}
