include README.rst CHANGES.rst LICENSE AUTHORS
include setup.cfg setup.py
recursive-include docs *
recursive-include requirements.d *
recursive-include src/bepasty/static *
recursive-include src/bepasty/templates *
prune docs/build

