<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Bepasty</title>

        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css">
        <!-- jQuery UI styles -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css">
        <!-- Bepasty styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='app/css/style.css' ) }}" type="text/css">
        <!-- Pygments styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='pygments/pygments.css' ) }}" type="text/css">
        {% block extra_link %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Begin header -->
            <div id="header">
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">{{ config.SITENAME }}</a>
                        </div>
                        <div class="navbar-right">
                            {% if session.may_upload %}
                            <form class="navbar-form" method="post" action="/+logout">
                                <input class="btn btn-default navbar-btn" type="submit" value="Logout">
                            </form>
                            {% else %}
                            <form class="navbar-form form-inline" method="post" action="/+login">
                                <div class="form-group">
                                    <input class="form-control" type="password" name="token">
                                </div>
                                <input class="btn btn-default navbar-btn" type="submit" value="Login">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.header -->

            <!-- Begin page content -->
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->

        <!-- Begin footer -->
        <div id="footer">
            <div class="container">
            </div>
        </div>
        <!-- /.footer -->

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
        <!-- jQuery UI -->
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>
        {% block extra_script %}{% endblock %}
    </body>
</html>
