{% extends "_layout.html" %}
{% block content %}
<h1>Binary File Uploader</h1>
<br>
<blockquote>
    <p>
        This is a simple file uploader with a ceph storage backend. Written und Python with jQuery File Upload.
    </p>

    <div class="hasJS" style="display: none">
        <p>
            Click on
            <span class="btn btn-default fileinput-button">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Add files</span>
                <!-- Input for file upload widget -->
                <input id="fileupload" type="file" name="file">
            </span>
            or drop your file directly into the browser.
        </p>
    </div>

    <noscript>
        <p>
            Choose your file and click the Upload Button.
        </p>
        <!-- Input for file upload widget -->
        <form id="fileupload" action="/+upload" method="POST" enctype="multipart/form-data" class="">
            <span class="btn btn-default fileinput-button">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Choose file</span>
                <input type="file" name="file">
            </span>
            <button class="btn btn-success">Upload</button>
        </form>
    </noscript>

</blockquote>

<br>
<!-- The progress bar -->
<div class="hasJS" style="display: none">
    <div id="progress" class="progress progress-striped active">
        <div class="progress-bar"></div>
    </div>
</div>
<!-- Uploaded files -->
<div id="files" class="files"></div>
<br>
{% endblock content %}

{% block js_fileupload %}
<!-- jquery ui widget -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/vendor/jquery.ui.widget.js') }}" type="text/javascript"
        charset="utf-8"></script>
<!-- iframe transport for browser without XHR support -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.iframe-transport.js') }}" type="text/javascript"
        charset="utf-8"></script>
<!-- basic file upload -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload.js') }}" type="text/javascript"
        charset="utf-8"></script>
<!-- file upload progress bar -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload-process.js') }}" type="text/javascript"
        charset="utf-8"></script>
<!-- file upload validation -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload-validate.js') }}" type="text/javascript"
        charset="utf-8"></script>
<!-- fileuploader -->
<script src="{{ url_for('static', filename='app/js/fileuploader.js') }}" type="text/javascript"
        charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('.hasJS').css('display', 'block');
    });
</script>

{% endblock js_fileupload %}
