{% extends "_layout.html" %}

{% block content %}
{% if may(CREATE) %}
<div class="row">
    <div class="col-sm-8">
        <form action="/+upload" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12">
                    <textarea id="formupload" name="text" placeholder="Paste text here..." autofocus></textarea>
                    <input type="text" id="contenttype" name="contenttype" size="30" placeholder="Content-Type">
                    <input type="text" id="filename" name="filename" size="40" placeholder="optional Filename for Download">
                    <button id="formupload-submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                        <p>
                            <span class="btn btn-default fileinput-button dropzone">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>drag and drop files here - or click to select a single file</span>
                                <!-- Input for file upload widget -->
                                <input id="fileupload" type="file" name="file" style="height: 100%; width: 100%;">
                            </span>
                            <noscript><button id="fileupload-submit" class="btn btn-success">Upload</button></noscript>
                        </p>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <div class="row">
            {# item name list assembled here and offered for submission #}
            <form id="filelist-form" style="display: none" action="/+upload" method="POST" enctype="multipart/form-data">
                <div class="col-sm-12">
                    <textarea id="filelist" name="text" rows="10" cols="40"></textarea>
                    <input type="hidden" name="contenttype" value="text/x-bepasty-list">
                    <button class="btn btn-success">Create List Item</button>
                </div>
            </form>
        </div>
        <button id="fileupload-abort" class="btn btn-danger pull-right" style="visibility: hidden">abort</button>
        <!-- The progress bar -->
        <div id="fileupload-progress" class="progress progress-striped active" style="visibility: hidden">
            <div class="progress-bar"></div>
        </div>

        <div class="row">
            <!-- Uploaded files -->
            <div id="files" class="files col-sm-12"></div>
        </div>
    </div>
</div>

{% else %}
<div class="page-header">
    <h1>bepasty, the Binary File Upload Site</h1>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <h2>Free and Nice</h2>
            <p>
                A pastebin for <em>all</em> the stuff,<br>
                not just for text.
            </p>
        </div>
        <div class="col-sm-6">
            <span class="glyphicon glyphicon-eye-open"></span>
            <h2>Free and Open Source</h2>
            <p>
                bepasty is free and open source software.<br>
                <a href="https://github.com/bepasty/">bepasty project on github</a>
            </p>
        </div>
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-heart-empty"></span>
            <h2>Awesome Code</h2>
            <p>
                Powered by <a href="http://python.org">Python</a>,
                <a href="http://flask.pocoo.org/">Flask</a> and
                many <a href="http://ceph.com/">Ceph</a>-alopodes.
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extra_link %}
<!-- Fileupload ui styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.fileupload/css/jquery.fileupload-ui.css') }}" type="text/css">
{% endblock %}

{% block extra_script %}
<!-- jquery ui widget -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/vendor/jquery.ui.widget.js') }}" type="text/javascript"></script>
<!-- iframe transport for browser without XHR support -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
<!-- basic file upload -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload.js') }}" type="text/javascript"></script>
<!-- file upload progress bar -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload-process.js') }}" type="text/javascript"></script>
<!-- file upload validation -->
<script src="{{ url_for('static', filename='jquery.fileupload/js/jquery.fileupload-validate.js') }}" type="text/javascript"></script>
<!-- QuestionBox -->
<script src="{{ url_for('static', filename='bootbox/bootbox.min.js') }}" type="text/javascript"></script>
<!-- fileuploader -->
<script src="{{ url_for('static', filename='app/js/fileuploader.js') }}" type="text/javascript"></script>

<script>
$(function() {
    var availableTypes = ["{{ contenttypes | join('","') | safe}}"];
    $("#contenttype").autocomplete({source: availableTypes});
});
</script>
{% endblock %}
